# Rename this to .env when you add your settings for local dev
APP_ENV=local
APP_DEBUG=true
APP_KEY=somerandomkey
APP_OAUTH_KEY=oauthsecret

DATABASE_URL=mysql://mysql_user:user_password@host:3306/db-name

OK_COURSE_OFFERING=institution/course_name/semester

DB_PROFILE=mysql-dev

DB_HOST=127.0.0.1
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

REDIS_HOST=redis
QUEUE_HOST=beanstalkd

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mailgun
MAIL_GUN_DOMAIN=domain.com
MAIL_GUN_SECRET=key-secret-key
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=2525
MAIL_USERNAME=postmaster@domain.com
MAIL_PASSWORD=secret-password
MAIL_ENCRYPTION=null
