@font-face {
    font-family: hallo-sans;
    src: url('/fonts/Hallo-sans-light.otf');
}
@font-face {
    font-family: hallo-sans;
    src: url('/fonts/Hallo-sans-black.otf');
    font-weight: bold;
}
header.marquee {
    padding: 50px;
    background: url('/images/bg.jpeg') no-repeat;
    background-size: cover;
}
h1 {
    font-weight: 700;
    font-size: 50pt;
}
h1 > small {
    font-size: 30pt;
}
.toContent {
    font-size: 30pt;
    text-align: center;
}
.boxLoading {
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.boxLoading:before {
    content: '';
    width: 30px;
    height: 4px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}
.boxLoading:after {
    content: '';
    width: 30px;
    height: 30px;
    background: #999999;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 20px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

div.container {
    margin-top: 30px;
}

.console-container {
    display: none;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    z-index: 99
}

#loading-image {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 80%;
    left: 45%;
    z-index: 100
}

.solutions-container {
    background: url('/images/console-loader.gif') center no-repeat;
}

}